.charts-container {
    margin-top: 2rem;
    padding: 4px;
}

.chart-card {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

.chart-card img {
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
    border-radius: 1rem;
}

.chart-card:hover img {
    transform: scale(1.05);
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: wheat;
    background-color: #111;
    opacity: 0;
    transform: translateY(100%);
    border-bottom-left-radius: 1rem;
    transition: opacity 0.5s, transform 0.5s;
}

.chart-card:hover .card-info {
    opacity: 0.8;
    transform: translateY(0);
}