/* .trending-card-container {} */

.swiper {
    /* width: calc(100vw - 320px); */
    width: 100%;
    height: 100%;
}

/* Styles specifically for Firefox */
@supports (-moz-appearance: none) {
    .swiper {
        width: calc(100vw - 320px);
    }
    .swiper-slide{
        width: 100dvw;
        padding: 0;
        margin: 0;

    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 200px;
    background: linear-gradient(90deg,#000000, #434343);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: transform 0.5s;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.swiper-slide:hover img {
    transition: transform 0.5s;
    transform: scale(1.02);
}

.card-swiper {
    width: 100%;
}

.swiper-caption {
    text-align: center;
    margin-bottom: 10px;
}

.swiper-caption h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.swiper-gap {
    margin-top: 20px;
}

.full-text{
    color: white;
}
/* .swiper-container {} */

.play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .card:hover .play-overlay {
    opacity: 1;
    transform: scale(1.25);
  }
  
  .play-overlay button {
    color: white;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .play-button {
    color: rgb(100, 216, 224);
    scale: 3;
    position: relative;
    top: -10px; 
  }

  @media (max-width: 768px) {
    .swiper-slide {
            font-size: medium;
        }
  }

@media (max-width: 768px) {
    .swiper-slide {
        width: 100%;
        font-size: small;
    }

    .swiper-slide img {
        object-fit: cover;
    }
}
