#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #5C258D, #4389A2);
  /*background: rgb(0, 212, 255);
  background: linear-gradient(183deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(2, 0, 36, 1) 93%);*/
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.play-screen {
  width: -webkit-fill-available;
}

.main-content{
  position:relative ;
  width: -webkit-fill-available;
}

.main-container {
  width: -webkit-fill-available;
}

.song-avatar-rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(0.95);
  }
}

.song-avatar-shake {
  animation: shake 0.5s ease-in-out infinite;
}



.register {
  background-color: red;
}

.bot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}

.container-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.container-title h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #eee;
}

.charts-container {
  padding-top: 10px;

}
